/* -------------------------- WHOLE BODY -------------------------- */
/* Colors 
 -> niebieski: #546FB7
 -> pomarańcz: #F49E5F
 -> odcień zieleni: #98B1C2
 -> czerwony: #DF4C5A
 -> szary: #757575
 -> biały: #FFFFFE
*/


html {
    height: 100%;
}

body {

    margin: 0;
    min-height: 100vh;

    /* Fonts */
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 18px;
    color: #404040;

}

h1 {
    font-family: 'Oswald', serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 2px;
    color: black;
    padding: 0px;
    margin: 0px 0px 15px 0px;
}

/* .container {
    max-width: 1280px;
    min-height: 800px;
    margin-left: auto;
    margin-right:auto;
    background-image: linear-gradient(160deg, #546FB7 0%, white 100%);
} */

/* -------------------------- NAV -------------------------- */
nav {
    /* background-image: linear-gradient(160deg, #546FB7 0%, white 100%); */
    background-color: #A4B2D9;
    height: 50px;
    
}

.container-nav {
    height: 50px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: row;
    font-size: 14px;  
}


.menu-left {
    /* margin-right: auto; */
}

.social-icons {
    margin-left: auto;
}

        /* -------------------------- MENU -------------------------- */
        .menu-left {
            display: flex;
            align-items: center;
            margin-left: 5px;
            /* margin-right: auto; */
        }

        .social-icons {
            display: flex;
            align-items: center;
            padding: 7px;
        }


        .menu-left a  {
            text-decoration: none;
            color: #404040;
            margin-left: 15px;
        }

        .social-icons a {
            text-decoration: none;
            color: #404040;

        }

        .menu-left a:visited, .social-icons a:visited {
            color: #404040;
        }

        .menu-left a:last-child, .social-icons a:last-child {
            margin-right: 0; /* Usuwa odstęp po ostatnim linku w każdym menu */
        }

        .social-icon img {
            width: 19px; /* Dostosuj wielkość ikony */
            height: auto; /* Automatycznie dostosuj wysokość do proporcji obrazu */
            margin-right: 10px;
        
        }


/* -------------------------- HEADER -------------------------- */

header {
    background-color: white;
    color: #404040;
    font-size: 18px; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 40px 0px;

}


/* -------------------------- MAIN -------------------------- */

.container-main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 00px 0px 50px 0px;
}
main {
    margin-top:auto;
    padding: 10px;
    color: white;
    text-align: center;

}

main img {
    width: 30%;
    height: auto;
    padding: 5px;
}

.message-1 {
    color: black;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    background-color: #FAF9F7;
    padding: 0px;
    margin: 0px 50px;
}

/* -------------------------- FOOTER -------------------------- */

.ccontainer-footer {
    margin-right: auto;
    margin-left: auto;

}

footer {
    
    margin-top:auto; /* Pozycjonuje stopkę na dole strony */
    
    background-color: #FAF9F7;
    color: #404040;
    padding: 20px;
    text-align: center;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;

}

.social-icons2 img {
    margin: 5px;
    padding: 5px;
}

.social-icons2 a {
    text-decoration: none;
    color: #404040;

}